<a href="https://colab.research.google.com/github/NishitSingh2023/LSTM-in-Trade/blob/master/Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
from google.colab import drive
drive.mount('/content/gdrive')

%cd gdrive/My Drive/Project/LSTM-in-Trade

! git pull

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
[Errno 2] No such file or directory: 'gdrive/My Drive/Project/LSTM-in-Trade'
/content/gdrive/My Drive/Project/LSTM-in-Trade
Already up to date.

In [0]:
import numpy as np
import pandas as pd

In [0]:
df = pd.read_csv('DataSet/TATASTEEL.csv')

In [19]:
df.count()

Date                  4977
Symbol                4977
Series                4977
Prev Close            4977
Open                  4977
High                  4977
Low                   4977
Last                  4977
Close                 4977
VWAP                  4977
Volume                4977
Turnover              4977
Trades                2126
Deliverable Volume    4463
%Deliverble           4463
dtype: int64

In [20]:
df.head()

         Date Symbol Series  ...  Trades  Deliverable Volume  %Deliverble
0  2000-01-03  TISCO     EQ  ...     NaN                 NaN          NaN
1  2000-01-04  TISCO     EQ  ...     NaN                 NaN          NaN
2  2000-01-05  TISCO     EQ  ...     NaN                 NaN          NaN
3  2000-01-06  TISCO     EQ  ...     NaN                 NaN          NaN
4  2000-01-07  TISCO     EQ  ...     NaN                 NaN          NaN

[5 rows x 15 columns]