<a href="https://colab.research.google.com/github/NishitSingh2023/LSTM-in-Trade/blob/master/Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import os
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv('DataSet/TATASTEEL.csv')

In [55]:
df.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,TISCO,EQ,142.35,148.00,153.2,146.10,152.50,152.45,150.92,2003185,3.023164e+13,NaN,NaN,NaN
1,2000-01-04,TISCO,EQ,152.45,150.10,153.0,143.05,151.95,150.80,151.03,1555136,2.348785e+13,NaN,NaN,NaN
2,2000-01-05,TISCO,EQ,150.80,144.60,162.9,144.60,158.00,156.55,156.85,3840284,6.023364e+13,NaN,NaN,NaN
3,2000-01-06,TISCO,EQ,156.55,158.95,169.1,158.95,169.00,168.25,167.61,2560449,4.291530e+13,NaN,NaN,NaN
4,2000-01-07,TISCO,EQ,168.25,173.40,179.0,166.30,170.55,171.95,173.89,3641691,6.332459e+13,NaN,NaN,NaN

In [56]:
df = df.sort_values('Date')
df.drop(columns=['Series','Symbol','Prev Close','Last','VWAP','Turnover','Trades','Deliverable Volume','%Deliverble'],axis=1,inplace=True)
df.head()

         Date    Open   High     Low   Close   Volume
0  2000-01-03  148.00  153.2  146.10  152.45  2003185
1  2000-01-04  150.10  153.0  143.05  150.80  1555136
2  2000-01-05  144.60  162.9  144.60  156.55  3840284
3  2000-01-06  158.95  169.1  158.95  168.25  2560449
4  2000-01-07  173.40  179.0  166.30  171.95  3641691

In [83]:
train_data = df.iloc[:4238]
test_data = df.iloc[4238:]
'''
for i in range(len(df.Date)):
    print(df.Date.iloc[i],i)
    '''
print(test_data)

            Date    Open    High     Low   Close    Volume
4238  2017-01-02  393.45  408.35  388.90  406.75   5578129
4239  2017-01-03  407.05  408.90  401.25  403.30   3338806
4240  2017-01-04  404.10  409.00  401.40  405.45   3344043
4241  2017-01-05  409.10  422.50  407.30  419.30   7196279
4242  2017-01-06  420.50  425.40  415.60  419.55   4138078
4243  2017-01-09  423.70  424.20  419.35  422.00   3122769
4244  2017-01-10  422.70  432.50  422.60  431.90   5118565
4245  2017-01-11  435.30  450.95  434.65  448.25  11431250
4246  2017-01-12  449.00  451.15  443.25  447.55   5361474
4247  2017-01-13  450.00  450.40  441.20  446.35   4232151
4248  2017-01-16  444.25  459.50  443.25  458.45   6675950
4249  2017-01-17  459.05  459.60  450.90  454.25   3342717
4250  2017-01-18  454.75  470.00  454.25  468.35   9116932
4251  2017-01-19  468.70  468.80  462.35  467.15   3445069
4252  2017-01-20  466.00  467.80  452.60  454.50   4927321
4253  2017-01-23  450.90  464.00  450.60  461.80   4349975
4254  2017-01-24  462.00  466.50  458.55  464.25   3731789
4255  2017-01-25  467.00  476.75  466.10  469.50   6307571
4256  2017-01-27  469.85  473.80  463.35  469.30   4977414
4257  2017-01-30  468.50  468.50  460.15  462.05   3322749
4258  2017-01-31  460.20  471.40  460.10  463.05   4543771
4259  2017-02-01  464.05  475.90  457.15  474.60   5572616
4260  2017-02-02  473.50  480.90  466.25  476.95   5988117
4261  2017-02-03  476.90  480.00  468.15  472.80   5284757
4262  2017-02-06  474.40  477.60  469.15  473.40   4806869
4263  2017-02-07  475.10  479.80  470.05  472.80   4836631
4264  2017-02-08  485.00  485.40  467.45  470.65  11287445
4265  2017-02-09  469.65  473.40  456.50  459.85   6485765
4266  2017-02-10  467.00  471.80  460.55  468.20   7912091
4267  2017-02-13  473.15  477.00  470.10  472.60   4898780
...          ...     ...     ...     ...     ...       ...
4947  2019-11-19  414.00  414.85  400.00  401.75  14265083
4948  2019-11-20  401.00  408.50  397.30  398.70  12255602
4949  2019-11-21  399.00  399.15  383.25  385.10  10208554
4950  2019-11-22  386.00  402.80  383.10  400.00  17271949
4951  2019-11-25  405.25  421.00  403.00  419.50  27612458
4952  2019-11-26  425.00  429.30  416.75  424.15  28276312
4953  2019-11-27  425.30  427.00  419.20  421.35  10984679
4954  2019-11-28  422.20  434.30  422.15  432.10  15766073
4955  2019-11-29  427.45  429.50  421.10  427.50  12631956
4956  2019-12-02  424.95  426.95  419.00  420.85   8337171
4957  2019-12-03  418.00  418.55  396.40  399.65  16870656
4958  2019-12-04  392.80  411.45  389.00  409.30  26113249
4959  2019-12-05  411.05  411.85  397.10  399.80  11110884
4960  2019-12-06  401.45  407.50  393.85  403.25  16931082
4961  2019-12-09  403.00  411.80  401.95  406.70  12318452
4962  2019-12-10  405.00  409.60  400.20  402.05   9349585
4963  2019-12-11  402.40  408.20  400.35  405.55   8227863
4964  2019-12-12  408.30  420.90  406.80  418.70  14984671
4965  2019-12-13  430.25  434.60  423.45  428.40  21628183
4966  2019-12-16  432.00  432.00  420.15  421.00   9565831
4967  2019-12-17  423.60  441.90  423.05  439.40  30757738
4968  2019-12-18  439.40  454.80  436.05  444.75  40028398
4969  2019-12-19  440.00  449.40  438.00  446.75  20547286
4970  2019-12-20  446.00  463.40  443.10  461.00  26931262
4971  2019-12-23  461.00  467.50  457.05  462.15  18631143
4972  2019-12-24  462.20  464.70  459.40  463.00  11235505
4973  2019-12-26  463.00  472.00  463.00  467.90  18255603
4974  2019-12-27  469.25  471.80  463.20  469.50  11144333
4975  2019-12-30  470.10  476.30  465.10  474.75  11462074
4976  2019-12-31  472.65  475.30  469.50  472.05   9644145

[739 rows x 6 columns]

In [95]:
scaler = MinMaxScaler()
#scaler.fit(train_data.iloc[:,1:])
a=scaler.fit_transform(train_data.iloc[:,1:])
a=pd.DataFrame(a)
a.insert(0, "Date", train_data.iloc[:,0:1], True)
a.rename(columns = {0:'Open',1:'High',2:'Low',3:'Close',4:'Volume'}, inplace = True)
print(a)
b=scaler.transform(test_data.iloc[:,1:])
b=pd.DataFrame(b)
b.insert(0, "Date", test_data.iloc[:,0:1], True)
b.rename(columns = {0:'Open',1:'High',2:'Low',3:'Close',4:'Volume'}, inplace = True)
print(b)

            Date      Open      High       Low     Close    Volume
0     2000-01-03  0.088049  0.085352  0.088975  0.092443  0.067809
1     2000-01-04  0.090304  0.085148  0.085587  0.090653  0.052464
2     2000-01-05  0.084398  0.095267  0.087309  0.096891  0.130728
3     2000-01-06  0.099807  0.101605  0.103249  0.109586  0.086895
4     2000-01-07  0.115323  0.111724  0.111413  0.113601  0.123926
5     2000-01-10  0.115913  0.117755  0.119911  0.124776  0.158187
6     2000-01-11  0.121336  0.112747  0.112969  0.108989  0.057630
7     2000-01-12  0.106303  0.104569  0.103471  0.106385  0.079267
8     2000-01-13  0.109417  0.102525  0.100028  0.099767  0.053480
9     2000-01-14  0.102008  0.094245  0.099972  0.099224  0.052005
10    2000-01-17  0.106249  0.103956  0.107859  0.108013  0.113123
11    2000-01-18  0.108343  0.108658  0.108026  0.114523  0.119649
12    2000-01-19  0.119188  0.110702  0.116634  0.114577  0.088834
13    2000-01-20  0.112746  0.111724  0.105193  0.103998  0.282017
14    2000-01-21  0.103833  0.097158  0.103416  0.103239  0.094926
15    2000-01-24  0.105122  0.096289  0.093307  0.091032  0.082992
16    2000-01-25  0.090196  0.086170  0.089975  0.088103  0.102985
17    2000-01-27  0.091700  0.085659  0.090530  0.087940  0.049423
18    2000-01-28  0.088049  0.083103  0.085809  0.083817  0.067585
19    2000-01-31  0.082788  0.075948  0.080644  0.078229  0.042674
20    2000-02-01  0.078492  0.074619  0.080644  0.079477  0.059074
21    2000-02-02  0.083432  0.077226  0.082199  0.080074  0.046347
22    2000-02-03  0.081499  0.078197  0.081700  0.078935  0.111370
23    2000-02-04  0.081499  0.073904  0.081089  0.079043  0.055864
24    2000-02-07  0.079459  0.072728  0.080255  0.077850  0.031045
25    2000-02-08  0.077848  0.075437  0.080089  0.080128  0.090899
26    2000-02-09  0.085257  0.082337  0.085643  0.083709  0.096732
27    2000-02-10  0.085365  0.077481  0.083421  0.080942  0.036666
28    2000-02-11  0.083539  0.075897  0.081922  0.079152  0.038581
29    2000-02-14  0.078385  0.072370  0.073369  0.073130  0.033908
...          ...       ...       ...       ...       ...       ...
4208  2016-11-21  0.343015  0.326996  0.333574  0.330060  0.224089
4209  2016-11-22  0.333620  0.316876  0.340794  0.337221  0.141110
4210  2016-11-23  0.338237  0.332311  0.348848  0.353117  0.174701
4211  2016-11-24  0.344733  0.338342  0.355012  0.359030  0.242954
4212  2016-11-25  0.357565  0.351426  0.368231  0.370531  0.242043
4213  2016-11-28  0.367121  0.349586  0.373730  0.368198  0.159460
4214  2016-11-29  0.374745  0.355617  0.379672  0.370748  0.205220
4215  2016-11-30  0.369054  0.353981  0.375785  0.377367  0.183407
4216  2016-12-01  0.377268  0.356537  0.379617  0.371453  0.104478
4217  2016-12-02  0.364920  0.349790  0.375896  0.367981  0.123291
4218  2016-12-05  0.366799  0.352550  0.376062  0.375685  0.119077
4219  2016-12-06  0.373671  0.358786  0.384338  0.381056  0.132207
4220  2016-12-07  0.379362  0.359501  0.380672  0.373949  0.160184
4221  2016-12-08  0.377644  0.371103  0.389892  0.394998  0.322706
4222  2016-12-09  0.393751  0.373761  0.402555  0.394184  0.139435
4223  2016-12-12  0.389670  0.368752  0.396723  0.387295  0.084537
4224  2016-12-13  0.389724  0.367219  0.390447  0.383931  0.108633
4225  2016-12-14  0.382261  0.364408  0.389614  0.380296  0.110417
4226  2016-12-15  0.375389  0.365634  0.385282  0.381978  0.151753
4227  2016-12-16  0.383120  0.360932  0.384893  0.376282  0.120713
4228  2016-12-19  0.370450  0.354288  0.381116  0.372267  0.079597
4229  2016-12-20  0.371309  0.351937  0.372230  0.364835  0.120480
4230  2016-12-21  0.364007  0.346111  0.372563  0.365920  0.093294
4231  2016-12-22  0.363470  0.343606  0.360178  0.352574  0.139090
4232  2016-12-23  0.351659  0.333078  0.356623  0.351109  0.135928
4233  2016-12-26  0.346290  0.326996  0.347126  0.339446  0.109899
4234  2016-12-27  0.339311  0.332209  0.345848  0.352791  0.132569
4235  2016-12-28  0.351498  0.331238  0.356012  0.348505  0.134149
4236  2016-12-29  0.346290  0.331391  0.356845  0.352737  0.116402
4237  2016-12-30  0.351122  0.332924  0.357790  0.351543  0.103833

[4238 rows x 6 columns]
    Date      Open      High       Low     Close    Volume
0    NaN  0.351605  0.346162  0.358678  0.368361  0.190247
1    NaN  0.366209  0.346724  0.372397  0.364618  0.113552
2    NaN  0.363041  0.346826  0.372563  0.366951  0.113732
3    NaN  0.368410  0.360626  0.379117  0.381978  0.245666
4    NaN  0.380651  0.363590  0.388337  0.382249  0.140927
5    NaN  0.384087  0.362363  0.392502  0.384908  0.106153
6    NaN  0.383013  0.370847  0.396112  0.395649  0.174507
7    NaN  0.396542  0.389707  0.409497  0.413389  0.390709
8    NaN  0.411253  0.389911  0.419050  0.412630  0.182826
9    NaN  0.412327  0.389144  0.416773  0.411328  0.144148
10   NaN  0.406153  0.398446  0.419050  0.424456  0.227846
11   NaN  0.422044  0.398549  0.427548  0.419899  0.113686
12   NaN  0.417427  0.409179  0.431269  0.435198  0.311446
13   NaN  0.432406  0.407953  0.440267  0.433896  0.117192
14   NaN  0.429507  0.406930  0.429436  0.420170  0.167957
15   NaN  0.413293  0.403046  0.427215  0.428091  0.148184
16   NaN  0.425212  0.405602  0.436046  0.430749  0.127012
17   NaN  0.430581  0.416079  0.444432  0.436446  0.215229
18   NaN  0.433641  0.413063  0.441377  0.436229  0.169673
19   NaN  0.432192  0.407646  0.437823  0.428362  0.113003
20   NaN  0.423279  0.410610  0.437767  0.429447  0.154821
21   NaN  0.427413  0.415210  0.434490  0.441979  0.190058
22   NaN  0.437560  0.420321  0.444599  0.444529  0.204288
23   NaN  0.441211  0.419401  0.446709  0.440026  0.180199
24   NaN  0.438527  0.416948  0.447820  0.440677  0.163832
25   NaN  0.439278  0.419197  0.448820  0.440026  0.164851
26   NaN  0.449909  0.424921  0.445932  0.437693  0.385784
27   NaN  0.433426  0.412655  0.433768  0.425975  0.221332
28   NaN  0.430581  0.411019  0.438267  0.435035  0.270182
29   NaN  0.437185  0.416334  0.448875  0.439809  0.166980
..   ...       ...       ...       ...       ...       ...
709  NaN  0.373671  0.352806  0.371008  0.362936  0.487765
710  NaN  0.359712  0.346315  0.368009  0.359627  0.418942
711  NaN  0.357565  0.336758  0.352402  0.344871  0.348833
712  NaN  0.343606  0.340489  0.352235  0.361037  0.590746
713  NaN  0.364276  0.359092  0.374340  0.382195  0.944896
714  NaN  0.385483  0.367576  0.389614  0.387240  0.967633
715  NaN  0.385805  0.365225  0.392335  0.384202  0.375415
716  NaN  0.382476  0.372687  0.395612  0.395866  0.539172
717  NaN  0.388113  0.367781  0.394446  0.390875  0.431832
718  NaN  0.385429  0.365174  0.392113  0.383660  0.284741
719  NaN  0.377966  0.356588  0.367009  0.360658  0.577002
720  NaN  0.350907  0.349330  0.358789  0.371128  0.893550
721  NaN  0.370504  0.349739  0.367787  0.360820  0.379737
722  NaN  0.360195  0.345293  0.364177  0.364564  0.579072
723  NaN  0.361860  0.349688  0.373174  0.368307  0.421095
724  NaN  0.364007  0.347439  0.371230  0.363262  0.319415
725  NaN  0.361216  0.346008  0.371397  0.367059  0.280997
726  NaN  0.367551  0.358990  0.378562  0.381327  0.512410
727  NaN  0.391120  0.372994  0.397056  0.391852  0.739942
728  NaN  0.392999  0.370336  0.393391  0.383822  0.326821
729  NaN  0.383979  0.380456  0.396612  0.403787  1.052619
730  NaN  0.400945  0.393642  0.411052  0.409591  1.370128
731  NaN  0.401589  0.388122  0.413219  0.411762  0.702923
732  NaN  0.408032  0.402433  0.418884  0.427223  0.921566
733  NaN  0.424138  0.406624  0.434379  0.428471  0.637297
734  NaN  0.425427  0.403762  0.436990  0.429393  0.384005
735  NaN  0.426286  0.411224  0.440989  0.434709  0.624435
736  NaN  0.432997  0.411019  0.441211  0.436446  0.380883
737  NaN  0.433910  0.415619  0.443321  0.442142  0.391765
738  NaN  0.436648  0.414597  0.448209  0.439212  0.329503

[739 rows x 6 columns]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [6]:
from subprocess import check_output
from keras.layers.core import Dense, Activation, Dropout
from keras.layers.recurrent import LSTM
from keras.models import Sequential
from sklearn.model_selection import  train_test_split
import time
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
from numpy import newaxis

In [108]:
model = Sequential()
model.add(LSTM(
    input_dim=a.iloc[:,1:4].shape[1],
    output_dim=180,
    return_sequences=True))
model.add(Dropout(0.2))

model.add(LSTM(
    200,
    return_sequences=False))
model.add(Dropout(0.2))
'''
model.add(LSTM(
    200,
    return_sequences=False))
model.add(Dropout(0.2))
model.add(LSTM(
    200,
    return_sequences=False))
model.add(Dropout(0.2))
'''
model.add(Dense(
    output_dim=1))
model.add(Activation('relu'))
start = time.time()
model.compile(loss='mse', optimizer='adam')
print ('compilation time : ', time.time() - start)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: The `input_dim` and `input_length` arguments in recurrent layers are deprecated. Use `input_shape` instead.
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Update your `LSTM` call to the Keras 2 API: `LSTM(return_sequences=True, input_shape=(None, 1), units=180)`
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=1)`

compilation time :  0.40263795852661133

ValueError: Must pass 2-d input

In [107]:
model.fit(
    a.iloc[:,1:4],
    a.iloc[:,4:5],
    batch_size=128,
    nb_epoch=10,
    validation_split=0.05)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

ValueError: Error when checking input: expected lstm_21_input to have 3 dimensions, but got array with shape (4238, 3)

In [8]:
#importing required libraries
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM

#creating dataframe
data = df.sort_index(ascending=True, axis=0)
new_data = pd.DataFrame(index=range(0,len(df)),columns=['Date', 'Close'])
for i in range(0,len(data)):
    new_data['Date'][i] = data['Date'][i]
    new_data['Close'][i] = data['Close'][i]

#setting index
new_data.index = new_data.Date
new_data.drop('Date', axis=1, inplace=True)

#creating train and test sets
dataset = new_data.values

train = dataset[0:4238,:]
valid = dataset[4238:,:]

#converting dataset into x_train and y_train
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_data = scaler.fit_transform(dataset)

x_train, y_train = [], []
for i in range(60,len(train)):
    x_train.append(scaled_data[i-60:i,0])
    y_train.append(scaled_data[i,0])
x_train, y_train = np.array(x_train), np.array(y_train)

x_train = np.reshape(x_train, (x_train.shape[0],x_train.shape[1],1))

# create and fit the LSTM network
model = Sequential()
model.add(LSTM(units=50, return_sequences=True, input_shape=(x_train.shape[1],1)))
model.add(LSTM(units=50))
model.add(Dense(1))

model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(x_train, y_train, epochs=1, batch_size=1, verbose=2)

#predicting 246 values, using past 60 from the train data
inputs = new_data[len(new_data) - len(valid) - 60:].values
inputs = inputs.reshape(-1,1)
inputs  = scaler.transform(inputs)

X_test = []
for i in range(60,inputs.shape[0]):
    X_test.append(inputs[i-60:i,0])
X_test = np.array(X_test)

X_test = np.reshape(X_test, (X_test.shape[0],X_test.shape[1],1))
closing_price = model.predict(X_test)
closing_price = scaler.inverse_transform(closing_price)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

Epoch 1/1
 - 267s - loss: 9.9891e-04

In [9]:
rms=np.sqrt(np.mean(np.power((valid-closing_price),2)))
rms

15.234773361743521

In [ ]:
%matplotlib inline
train = new_data[:4238]
valid = new_data[4238:]
valid['Predictions'] = closing_price
plt.plot(train['Close'])
plt.plot(valid[['Close','Predictions']])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

[<matplotlib.lines.Line2D at 0x192760db0b8>,
 <matplotlib.lines.Line2D at 0x19275fd2ba8>]