<a href="https://colab.research.google.com/github/NishitSingh2023/LSTM-in-Trade/blob/master/Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import datetime as dt
import os
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

In [3]:
df = pd.read_csv('DataSet/TATASTEEL.csv')

In [4]:
df.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,TISCO,EQ,142.35,148.00,153.2,146.10,152.50,152.45,150.92,2003185,3.023164e+13,NaN,NaN,NaN
1,2000-01-04,TISCO,EQ,152.45,150.10,153.0,143.05,151.95,150.80,151.03,1555136,2.348785e+13,NaN,NaN,NaN
2,2000-01-05,TISCO,EQ,150.80,144.60,162.9,144.60,158.00,156.55,156.85,3840284,6.023364e+13,NaN,NaN,NaN
3,2000-01-06,TISCO,EQ,156.55,158.95,169.1,158.95,169.00,168.25,167.61,2560449,4.291530e+13,NaN,NaN,NaN
4,2000-01-07,TISCO,EQ,168.25,173.40,179.0,166.30,170.55,171.95,173.89,3641691,6.332459e+13,NaN,NaN,NaN

In [8]:
df = df.sort_values('Date')
df.drop(columns=['Series','Prev Close','Last','VWAP','Turnover','Trades','Deliverable Volume','%Deliverble'],axis=1,inplace=True)
df.head()

         Date Symbol    Open   High     Low   Close   Volume
0  2000-01-03  TISCO  148.00  153.2  146.10  152.45  2003185
1  2000-01-04  TISCO  150.10  153.0  143.05  150.80  1555136
2  2000-01-05  TISCO  144.60  162.9  144.60  156.55  3840284
3  2000-01-06  TISCO  158.95  169.1  158.95  168.25  2560449
4  2000-01-07  TISCO  173.40  179.0  166.30  171.95  3641691

In [43]:
train_data = df.iloc[:4238]
test_data = df.iloc[4238:]
'''
for i in range(len(df.Date)):
    print(df.Date.iloc[i],i)
    '''
print(train_data.iloc[:,2:])

        Open    High     Low   Close   Volume
0     148.00  153.20  146.10  152.45  2003185
1     150.10  153.00  143.05  150.80  1555136
2     144.60  162.90  144.60  156.55  3840284
3     158.95  169.10  158.95  168.25  2560449
4     173.40  179.00  166.30  171.95  3641691
5     173.95  184.90  173.95  182.25  4642054
6     179.00  180.00  167.70  167.70  1705968
7     165.00  172.00  159.15  165.30  2337738
8     167.90  170.00  156.05  159.20  1584803
9     161.00  161.90  156.00  158.70  1541731
10    164.95  171.40  163.10  166.80  3326270
11    166.90  176.00  163.25  172.80  3516827
12    177.00  178.00  171.00  172.85  2617065
13    171.00  179.00  160.70  163.10  8257650
14    162.70  164.75  159.10  162.40  2794941
15    163.90  163.90  150.00  151.15  2446509
16    150.00  154.00  147.00  148.45  3030257
17    151.40  153.50  147.50  148.30  1466342
18    148.00  151.00  143.25  144.50  1996632
19    143.10  144.00  138.60  139.35  1269284
20    139.10  142.70  138.60  140.50  1748130
21    143.70  145.25  140.00  141.05  1376545
22    141.90  146.20  139.55  140.00  3275087
23    141.90  142.00  139.00  140.10  1654411
24    140.00  140.85  138.25  139.00   929743
25    138.50  143.50  138.10  141.10  2677365
26    145.40  150.25  143.10  144.40  2847687
27    145.50  145.50  141.10  141.85  1093875
28    143.80  143.95  139.75  140.20  1149793
29    139.00  140.50  132.05  134.65  1013330
...      ...     ...     ...     ...      ...
4208  385.45  389.60  366.30  371.45  6566271
4209  376.70  379.70  372.80  378.05  4143438
4210  381.00  394.80  380.05  392.70  5124218
4211  387.05  400.70  385.60  398.15  7117077
4212  399.00  413.50  397.50  408.75  7090491
4213  407.90  411.70  402.45  406.60  4679209
4214  415.00  417.60  407.80  408.95  6015315
4215  409.70  416.00  404.30  415.05  5378415
4216  417.35  418.50  407.75  409.60  3073859
4217  405.85  411.90  404.40  406.40  3623139
4218  407.60  414.60  404.55  413.50  3500112
4219  414.00  420.70  412.00  418.45  3883470
4220  419.30  421.40  408.70  411.90  4700356
4221  417.70  432.75  417.00  431.30  9445695
4222  432.70  435.35  428.40  430.55  4094532
4223  428.90  430.45  423.15  424.20  2491598
4224  428.95  428.95  417.50  421.10  3195158
4225  422.00  426.20  416.75  417.75  3247269
4226  415.60  427.40  412.85  419.30  4454182
4227  422.80  422.80  412.50  414.05  3547889
4228  411.00  416.30  409.10  410.35  2347383
4229  411.80  414.00  401.10  403.50  3541080
4230  405.00  408.30  401.40  404.50  2747302
4231  404.50  405.85  390.25  392.20  4084454
4232  393.50  395.55  387.05  390.85  3992131
4233  388.50  389.60  378.50  380.10  3232118
4234  382.00  394.70  377.35  392.40  3894041
4235  393.35  393.75  386.50  388.45  3940185
4236  388.50  393.90  387.25  392.35  3422017
4237  393.00  395.40  388.10  391.25  3055022

[4238 rows x 5 columns]

In [45]:
scaler = MinMaxScaler()
scaler.fit(train_data.iloc[:,2:])
a=scaler.transform(train_data.iloc[:,2:])
print(a)
scaler1 = MinMaxScaler()
scaler.fit(test_data.iloc[:,2:])
b=scaler.transform(test_data.iloc[:,2:])
print(b)

[[0.08804896 0.08535214 0.08897528 0.0924429  0.06780903]
 [0.09030388 0.08514771 0.08558734 0.09065263 0.05246388]
 [0.08439815 0.0952673  0.08730908 0.09689144 0.1307275 ]
 ...
 [0.35149791 0.33123786 0.35601222 0.3485054  0.13414899]
 [0.34629013 0.33139119 0.35684532 0.35273694 0.11640235]
 [0.35112209 0.33292446 0.3577895  0.35154343 0.10383321]]
[[0.15259034 0.16097721 0.15202927 0.17865707 0.10546973]
 [0.18219417 0.1621769  0.17941894 0.17113582 0.05976638]
 [0.17577275 0.16239503 0.17975161 0.17582298 0.05987326]
 ...
 [0.31758816 0.29937834 0.31681082 0.31545673 0.21907288]
 [0.3194384  0.30919402 0.32102462 0.32690211 0.2255578 ]
 [0.32498912 0.30701276 0.33078288 0.32101591 0.18845487]]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [49]:
from subprocess import check_output
from keras.layers.core import Dense, Activation, Dropout
from keras.layers.recurrent import LSTM
from keras.models import Sequential
from sklearn.model_selection import  train_test_split
import time
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
from numpy import newaxis

In [50]:
model = Sequential()
model.add(LSTM(
    input_dim=180,
    output_dim=200,
    return_sequences=True))
model.add(Dropout(0.2))

model.add(LSTM(
    200,
    return_sequences=False))
model.add(Dropout(0.2))
model.add(LSTM(
    150,
    return_sequences=False))
model.add(Dropout(0.2))
model.add(LSTM(
    200,
    return_sequences=False))
model.add(Dropout(0.2))

model.add(Dense(
    output_dim=1))
model.add(Activation('relu'))